<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>news_system</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>com.ns.common.InitNumListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.ns.common.UserEnterListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>StartServlet</servlet-name>
    <servlet-class>com.ns.common.StartServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>StartServlet</servlet-name>
    <url-pattern>/StartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Index</servlet-name>
    <servlet-class>com.ns.action.IndexAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminIndex</servlet-name>
    <servlet-class>com.ns.action.adminIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminIndex</servlet-name>
    <url-pattern>/adminIndex</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserAction</servlet-name>
    <servlet-class>com.ns.action.NsUserAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAction</servlet-name>
    <url-pattern>/Action/UserAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAction</servlet-name>
    <servlet-class>com.ns.action.NsAdminAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAction</servlet-name>
    <url-pattern>/Action/AdminAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewsAction</servlet-name>
    <servlet-class>com.ns.action.NsNewsAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsAction</servlet-name>
    <url-pattern>/Action/NewsAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CatAction</servlet-name>
    <servlet-class>com.ns.action.NsCatAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CatAction</servlet-name>
    <url-pattern>/Action/CatAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CmtAction</servlet-name>
    <servlet-class>com.ns.action.NsCmtAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CmtAction</servlet-name>
    <url-pattern>/Action/CmtAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DcAction</servlet-name>
    <servlet-class>com.ns.action.NsDcAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DcAction</servlet-name>
    <url-pattern>/Action/DcAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HumanAction</servlet-name>
    <servlet-class>com.ns.action.NsHumanAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HumanAction</servlet-name>
    <url-pattern>/Action/HumanAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LinkAction</servlet-name>
    <servlet-class>com.ns.action.NsLinkAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LinkAction</servlet-name>
    <url-pattern>/Action/LinkAction</url-pattern>
  </servlet-mapping>
</web-app>